{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <a href="{% url "accounts:update" %}">[Update]</a>
    <form action="{% url "accounts:logout" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[LOGIN]</a>
    <a href="{% url 'accounts:signup' %}">[Sign Up]</a>
  {% endif %}
  <h1>전체 유저 목록</h1>
  <ul>
    {% for person in persons %}
      <li>{{ person.username }}</li>
      <hr>
    {% endfor %}
  </ul>
{% endblock content %}