{% extends 'base.html' %}

{% block content %}
  <h1>저자 상세 정보</h1>
  <p>등록 번호 : {{ author.pk }}</p>
  <p>이름 : {{ author.name }}</p>
  <p>나이 : {{ author.age }}</p>
  <p>생년월일 : {{ author.birth }}</p>
  <p>국적 : {{ author.nationality }}</p>
  <hr>

  <!-- 책 추가 폼 -->
  <h3>신규 도서 등록</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="CREATE">
  </form>
  <hr>

  <!-- 도서 목록 -->
  <h3>도서 목록</h3>
  <ul>
    {% for book in books %}
      <li>제목: {{ book.title }}</li>
    {% empty %}
      <li>발간한 책이 없습니다.</li>
    {% endfor %}
  </ul>
  <hr>
  <a href="{% url 'libraries:index' %}">[BACK]</a>
{% endblock content %}