<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 로그인/로그아웃 링크 또는 버튼 -->
  {% if request.user.is_authenticated %}
    <p>Hello, {{ request.user.username }}</p>
    <form action="{% url 'accounts:logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="로그아웃">
    </form>
  {% else %}
    <p><a href="{% url 'accounts:login' %}">로그인</a></p>
  {% endif %}


  {% block content %}
  {% endblock content %}
</body>
</html>