/* ===== 헤더 배치 ===== */
.header {
  display: flex;
  position: sticky;

  /* 스크롤업되는 컨텐츠 위로 올라오도록 */
  z-index: 2;

  top: 0;
  height: var(--height-toolbar);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);

  color: #F9FAFF;
}

/* ===== 왼쪽 링크와 로고 ===== */
.header__homelink {
  display: inline-block;
  padding-left: 5px;
  padding-right: 24px;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.header__logo {
  margin-left: 15px;
  width: 40px;
  max-width: 100%;
  overflow-clip-margin: content-box;
  vertical-align: middle;
  margin-bottom: 4px;
  cursor: pointer;
}

.header__logo img {
  width: 38px;
}

/* ===== 네비게이션 ===== */
.header__nav-item {
  font-size: var(--font-size-larger);
}

/* ===== 네비게이션 링크 ===== */
.header__nav-item a {
  /* 클릭 영역 확대 */
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
}

/* ===== 모바일 ===== */
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__menu-btn {
    all: unset;
    display: block;
    width: var(--height-toolbar);
    height: var(--height-toolbar);
    background-image: url(../assets/menu-button.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__menu-btn:checked {
    background-color: var(--color-sub);
  }
  .header__menu-btn:checked + .header__nav {
    display: inherit;
    position: absolute;
    top: var(--height-toolbar);
    right: 0;
    background-color: var(--color-main);
    padding-bottom: 1em;
    box-shadow: 0 2px 2px var(--color-sub);
  }
  .header__nav-item {
    width: 100vw;
    text-align: center;
  }
  .header__nav-item a {
    width: 100vw;
  }
  .header__nav-item:not(:last-child) {
    border-bottom: 2px solid white;
  }
}

/* ===== 데스크탑 ===== */
@media (min-width: 769px) {
  .header__nav-item{
    display: inline-block;
    position: relative;
  }
  .header__nav-item:last-child {
    margin-right: 1.6em;
  }
  .header__nav-item a {
    padding: 0 0.8em;
  }
  .header__nav-item::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #F9FAFF;
    transition: all 350ms;
  }
  .header__nav-item:hover::after {
    left: 0;
    width: 100%;
    height: 8px;
  }
  .header__menu-btn {
    display: none;
  }
  .section__header {
    margin-top: 40px;
  }
}